# Dependencies
node_modules/
/frontend/node_modules/

# Production builds
/frontend/dist/
/frontend/build/

# Configuration and Local Variables
.env
/backend/.env

# IDE and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
